# Adapted from CS109a Introduction to Data Science

## Seminar 2, Exercise 1: PANDAS Recup


**HSE University**<br/>
**Spring 2022**<br/>

---

**Exercise 1: PANDAS Intro**

as you probably `PANDAS` is Python library that contains highly useful data structures, including DataFrames, which makes Exploratory Data Analysis (EDA) easy. Here, we get practice with some of the elementary functions.
I know that they are too basic
Lets gradually refresh your skills

In [4]:
import pandas as pd

For this exercise, we will be working with StudentsPerformance dataset made available through [Kaggle](https://www.kaggle.com/spscientist/students-performance-in-exams). It contains information about the exame score of ([fictional](http://roycekimmons.com/tools/generated_data/exams)) high school students.

In [5]:
# import the CSV file
df = pd.read_csv("StudentsPerformance.csv")

# PANDAS Basics üêº
Let's get started with basic functionality of PANDAS!

**Exercise**  
In the cell below fill in the blank to display general dataframe **info**rmation.

_Tip: [The Pandas documention](https://pandas.pydata.org/docs/user_guide/index.html) will be your best friend. But in many cases, a simple tab autocomplete can find what your looking for._

In [1]:
### edTest(test_a) ###

Examine the output carefully. There's a lot in there. Can you interpret each column? What about the details in header footer?

**Exercise**  
In the cell below, fill in the blank so that the variable `cols` stores the `df`'s column names.

**NOTE:** Please keep the type of the data structure as a `<class 'pandas.core.indexes.base.Index'>`. Do not have to convert this to a list.\

_Tip: Reviewing the [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html?highlight=dataframe#pandas.DataFrame) object itself might help_

In [4]:
### edTest(test_b) ###
cols = df######
# Check at least the type is the right one
assert type(cols) == pd.core.indexes.base.Index

**Exercise**  
In the cell below, fill in the blank so that:
- `num_cols` stores the number of columns in `df`\
([HINT](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html?highlight=shape#pandas.DataFrame.shape))

In [5]:
### edTest(test_c) ###
num_rows = df###
num_cols = df###

**Exercise**  
In the cell below, fill in the blank so that `first_seven` is equal to the first 7 rows. ([HINT](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html))

In [6]:
### edTest(test_d) ###
first_seven = df#####

**Exercise**  
In the cell below, fill in the blank so that `last_four` is equal to the last 4 rows. ([HINT](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html))

In [7]:
### edTest(test_e) ###
last_four = df####

**Exercise**  
In the cell below, fill in the blank so that the `unique_parental_education_levels` variable stores a list of the 6 distinct values found within the `parental level of education` column of `df`.\

_Tip: Again, try searching the [documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)_

In [ ]:
### edTest(test_f) ###
unique_parental_education_levels = df['parental level of education']####
unique_parental_education_levels

In [9]:
# we can check if they are really 6
print('Are there 6 unique values?:', len(unique_parental_education_levels) == 6)
# we can display them here
print()
print(unique_parental_education_levels)

Are there 6 unique values?: True

["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

**Exercise**  
In the cell below, fill in the blank so that the `scored_100_at_math` variable stores the **DataFrame row(s)** that correspond to everyone who scored 100 at math.\

_Hint: Think 'indexing.' Specifically, boolean indexing_

In [10]:
### edTest(test_g) ###
scored_100_at_math = df#[#df#[###
scored_100_at_math

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100

Some observations about conditions

In [7]:
# this shows that using the condition with 'loc' is the same as not using 'loc'
condition = df['math score'] == 100
all(df[condition] == df.loc[condition])

True

In [8]:
# the condition is a boolean series to be used with the whole dataframe
# the condition will be used to filter the dataframe to those rows where condition value is True
# we can see that condition has as many rows as the original dataframe
condition

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: math score, Length: 1000, dtype: bool

**Exercise**  
In the cell below, fill in the blank to display scores' **descri**ptive statistics ([HINT](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)).

In [ ]:
### edTest(test_h) ###
df###.####d####

**Exercise**  
In the cell below, fill in the blanks so that the `uncompleted_with_good_writing_score` variable stores the **DataFrame rows** that correspond to everyone who hasn't completed the preparation course and there writing score is above the median.

In [ ]:
### edTest(test_i) ###
# not completed preparation course condition
cond1 = df['test preparation course'] != 'completed'
# writing score above the median
cond2 = #######
uncompleted_with_good_writing_score = df.loc[cond1 & cond2]
uncompleted_with_good_writing_score

Obvervation: the '&' operator differs from the 'and' operator